Abstract:œ




ÁÁ
	The Irreversibility of Relatedness and Love:
		Recasting Natural Law from a Feministic Perspective

 Ä
K@ÄMary Haydenœ„



This paper argues that the feministic perspective of relatednessª©©once grounded within the perspective of Aquinas's natural law©ª©establishes an irreversible obligation to love one's offspringwhether preborn or born. Consequently, abortion as the denial ofmaternal relatedness cannot be justified.