vti_encoding:SR|utf8-nl
vti_author:SR|UST\\rmlemmons
vti_modifiedby:SR|UST\\rmlemmons
vti_timecreated:TR|22 Jul 2005 20:42:25 -0000
vti_timelastmodified:TR|05 Sep 2007 19:17:05 -0000
vti_extenderversion:SR|6.0.2.6551
vti_nexttolasttimemodified:TR|22 Jul 2005 20:42:25 -0000
vti_cacheddtm:TX|05 Sep 2007 19:17:06 -0000
vti_filesize:IR|1258
vti_cachedlinkinfo:VX|S|capbannd.gif S|capsepd.gif S|capbul1d.gif S|capbul2d.gif S|capbul3a.gif S|capnavhp.gif S|capnavhd.gif S|capnavvp.gif S|capnavvd.gif S|caphomed.gif S|capupd.gif S|capbackd.gif S|capnextd.gif S|capbul1d.gif S|capbul2d.gif S|capbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capbannd.gif FSUS|_themes/capsules/capsepd.gif FSUS|_themes/capsules/capbul1d.gif FSUS|_themes/capsules/capbul2d.gif FSUS|_themes/capsules/capbul3a.gif FSUS|_themes/capsules/capnavhp.gif FSUS|_themes/capsules/capnavhd.gif FSUS|_themes/capsules/capnavvp.gif FSUS|_themes/capsules/capnavvd.gif FSUS|_themes/capsules/caphomed.gif FSUS|_themes/capsules/capupd.gif FSUS|_themes/capsules/capbackd.gif FSUS|_themes/capsules/capnextd.gif FSUS|_themes/capsules/capbul1d.gif FSUS|_themes/capsules/capbul2d.gif FSUS|_themes/capsules/capbul3d.gif
vti_backlinkinfo:VX|
