vti_encoding:SR|utf8-nl
vti_author:SR|UST\\rmlemmons
vti_modifiedby:SR|UST\\rmlemmons
vti_timecreated:TR|22 Jul 2005 20:42:25 -0000
vti_timelastmodified:TR|05 Sep 2007 19:17:05 -0000
vti_extenderversion:SR|6.0.2.6551
vti_nexttolasttimemodified:TR|22 Jul 2005 20:42:25 -0000
vti_cacheddtm:TX|05 Sep 2007 19:17:05 -0000
vti_filesize:IR|27272
vti_cachedlinkinfo:VX|S|capglob1.gif S|captext.gif S|capbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capglob1.gif FSUS|_themes/capsules/captext.gif FSUS|_themes/capsules/capbul2d.gif FSUS|_themes/capsules/toolgrad.gif FSUS|_themes/capsules/dot.gif FSUS|_themes/capsules/toolgrad.gif FSUS|_themes/capsules/theme.css FSUS|_themes/capsules/blank.gif
vti_backlinkinfo:VX|_themes/capsules/theme.css
