vti_encoding:SR|utf8-nl
http\://www.stthomas.edu:index-old05.html
file\:////ust-courseweb1/courseweb/rmlemmons/burstani9042.gif:courses\\ f'04.htm
file\:////ust-courseweb1/courseweb/rmlemmons/mov_spooky.gif:courses\\ f'04.htm
http\://www.epistemelinks.com/:index.html
http\://www.vatican.va/:index.html
http\://blackboard.stthomas.edu/:index-old05.html
http\://www.stthomas.edu/phil/index.html:index.html
file\:////ust-courseweb1/courseweb/rmlemmons/mov_sailboat.gif:courses\\ f'04.htm
http\://www.stthomas.edu/cathstudies:index.html
http\://www.stthomas.edu/phil/tutorpd.html:index.html
http\://classics.mit.edu/:index.html
