vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Nov 1998 19:32:47 -0600
vti_author:SR|UST\\jmyoung
vti_syncwith_140.209.3.67\:80/rmlemmons:TR|18 Nov 1998 19:32:47 -0600
vti_syncwith_webcampus2.stthomas.edu\:80/rmlemmons:TR|18 Nov 1998 19:32:47 -0600
vti_modifiedby:SR|UST\\jmyoung
vti_timecreated:TR|30 Jan 2003 22:29:42 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.7802
vti_syncwith_webcampus3.stthomas.edu\:80/rmlemmons:TR|18 Nov 1998 19:32:47 -0600
vti_cacheddtm:TX|30 Jan 2003 22:29:42 -0000
vti_filesize:IR|1539
vti_cachedlinkinfo:VX|S|glohorsd.gif S|globul1d.gif S|globul2d.gif S|globul3d.gif S|globannd.gif S|glohbudd.gif S|glohbusd.gif S|glovbudd.gif S|glovbusd.gif S|glohombd.gif S|glonexbd.gif S|gloprebd.gif S|gloupbd.gif
vti_cachedsvcrellinks:VX|FSUS|comweb2/web/myweb/_themes/global/glohorsd.gif FSUS|comweb2/web/myweb/_themes/global/globul1d.gif FSUS|comweb2/web/myweb/_themes/global/globul2d.gif FSUS|comweb2/web/myweb/_themes/global/globul3d.gif FSUS|comweb2/web/myweb/_themes/global/globannd.gif FSUS|comweb2/web/myweb/_themes/global/glohbudd.gif FSUS|comweb2/web/myweb/_themes/global/glohbusd.gif FSUS|comweb2/web/myweb/_themes/global/glovbudd.gif FSUS|comweb2/web/myweb/_themes/global/glovbusd.gif FSUS|comweb2/web/myweb/_themes/global/glohombd.gif FSUS|comweb2/web/myweb/_themes/global/glonexbd.gif FSUS|comweb2/web/myweb/_themes/global/gloprebd.gif FSUS|comweb2/web/myweb/_themes/global/gloupbd.gif
