vti_encoding:SR|utf8-nl
vti_author:SR|UST\\rmlemmons
vti_modifiedby:SR|UST\\rmlemmons
vti_timelastmodified:TR|25 Aug 2005 19:00:56 -0000
vti_timecreated:TR|25 Aug 2005 19:00:56 -0000
vti_cacheddtm:TX|25 Aug 2005 19:00:57 -0000
vti_filesize:IR|1195
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{EA526A0C-C0D9-4BA2-B519-AC69B06DF0DE}
vti_backlinkinfo:VX|214-cloning-Pres-Rprt.html
